*{
    font-family: 'Courier New', Courier, monospace;
}
#inbody,
#inhtml {
    width: 100%;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: url(https://res.cloudinary.com/dy0hlxft4/image/upload/v1675008340/cld-sample-5.jpg) no-repeat center center fixed;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    color: white;
    text-shadow: 5px 5px rgb(22,22,22);
}

.buffer {
    height: 5rem;
}

.btn {
    font-weight: 700;
    border-radius: 300px;
}

.btn-xl {
    padding: 1rem 2rem;
    transition: 1s;
}

.btn-xl:hover {
    transform: scale(0.9);
}

hr {
    margin: 20px auto;
    color: dodgerblue;
    border: 3px solid dodgerblue;
    max-width: 65px;
    opacity: 1;
}

/* navbar */
.navbar,.navbar-brand,.nav-link{
    background: #42C4F0;
    color: white;
}

/* navbar */
/* home page */
#hcar1{
    background: url(https://res.cloudinary.com/dy0hlxft4/image/upload/v1676106009/cyndionlinestores/IMG-20230211-WA0004_upgvfq.jpg);
}
#hcar2{
    background: url(https://res.cloudinary.com/dy0hlxft4/image/upload/v1676106010/cyndionlinestores/IMG-20230211-WA0008_x9ymov.jpg);
}
#hcar2{
    background: url(https://res.cloudinary.com/dy0hlxft4/image/upload/v1676105997/cyndionlinestores/IMG-20230211-WA0021_l2omlx.jpg);
}

#hcar1,#hcar2,#hcar3{
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* home page */